

body {
    font-family: Calibri;
    background-color: rgb(6, 131, 255);
    flex: 1;
    font-size: 40px;
}

header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.audio {
    border: black solid 1px;
    color:white;
    display: flex;
    background-color: rgb(140, 1, 1);
    width: 500px;
    height: 400px;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    font-size: 30px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(167, 251, 248);
}

.desc{
    border: black solid 2px;
    background-color: rgb(1, 212, 212);
    width:1100px;
    padding-left: 60px;
}